@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onDarkMode {
  background-color: black;

  .mj__main__wrapper {
    border: 1px solid #fff;
    background-color: black !important;
  }

  .nav__date {
    color: #fff;
  }
}

/* 모달 오픈시 스크롤 막기 */
body.active-modal {
  overflow-y: hidden;
}