@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onDarkMode {
  background-color: black;

  .mj__main__wrapper {
    border: 1px solid #fff;
    background-color: black !important;
  }

  .nav__date {
    color: #fff;
  }
}

/* 모달 오픈시 스크롤 막기 */
body.active-modal {
  overflow-y: hidden;
}

/* mo default */
body {
  width: 100%;
  margin: 0 auto;
}

/* web default */
body.isWeb {
  width: 500px !important;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

body.isWeb .llTUxV {
  width: 500px !important;
}

body.isWeb .mj__noteList__wrapper {
  width: 500px !important;
}

body.isWeb .mj__addList__wrapper {
  width: 500px !important;
}