@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onDarkMode {
  background-color: black;

  #root {
    background-color: black !important;
    min-height: 100vh;
  }

  .mj__main__wrapper {
    background-color: black !important;
  }

  .mj__main__direct {
    background-color: #fff;
  }

  .nav__date,
  .nav__menu,
  .mj__header__title,
  .mj__main__title,
  .mj__work__title,
  .mj__work__total,
  .mj__work__list,
  .mj__work__delete,
  .mj__note__top,
  .mj__note__button,
  .feeling__title,
  .emNLa {
    color: #fff;
  }
 
  .hszVUn .mj__work__box {
    border: 1px solid #fff;
  }

  .fYNcYR .swiper-slide li {
    border: 1px solid #fff;
  }

  .mj__weekCalendar__number {
    color: #fff;
  }

  .mj__weekCalendar__list.today > .mj__weekCalendar__number {
    color: rgb(44, 180, 142);
  }

  .mj__header__back {
    color: #fff;
  }

  /* 페이지 준비중 */
  .mj__info__desc {
    color: #fff;
  }
}

/* 모달 오픈시 스크롤 막기 */
body.active-modal {
  overflow-y: hidden;
}

/* mo default */
body {
  width: 100%;
  margin: 0 auto;
}

/* web default */
body.isWeb {
  width: 500px !important;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

body.isWeb .llTUxV {
  width: 500px !important;
}

body.isWeb .mj__noteList__wrapper {
  width: 500px !important;
}

body.isWeb .mj__addList__wrapper {
  width: 500px !important;
}

